@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
};

@include font-face('Encode Sans Narrow', 'encodesansnarrow-400-regular-webfont','Encode', 'sans-serif');

*{
	margin:0px;
	padding:0px;
	font-family: "Encode Sans Narrow", serif;
	box-sizing:border-box;
}

li{
	list-style-type:none;
};

a{
	text-decoration:none;
	color:white;
};

a:visited{
	color:white;
}

.header{
	height:500px;
	background:url('../img/trees.jpg') center center no-repeat;
	background-size:cover;
	color:white;
	padding-top:50px;
	img{
		display:block;
		background:url('img/profile.jpg') no-repeat center;
		border:5px solid #FFC125;
		border-radius:50%;
		width:200px;
		height:200px;
		margin:0 auto;
		margin-bottom:10px;
	};
	h1{
		display:block;
		margin:0 auto;
		text-align:center;
	};
};

.about{
	height:400px;
	background:#212020;
	text-align:center;
	display:table;
	img{
		height:300px;
		width:300px;
		margin:0 auto;
		padding-top:30px;
		display:table-cell;
		vertical-align:middle;
	};
	p{
		color:white;
		width:75%;
		margin:0 auto;
		display:table-cell;
		vertical-align:middle;
	};
};

.port{
	height:600px;
	text-align:center;
	h1{
		color:#004D1C;
		display:inline-block;
		margin-top:100px;
		margin-bottom:25px;
		border-bottom:4px solid #FFC125;
		padding:0 15px;  
	};
	.wrap{
		display:flex;
		width:100%;
		height:400px;
	};
	a{
		position:relative;
		display:inline-block;
		height:350px;
		width:300px;
		margin:5px;
		flex-grow:1;
		border: 3px solid #FFC125;
		color:white;
	};
	a span{
		color:white;
		background:rgba(33, 32, 32, 0.7);
 		margin: 0 auto;
  		padding:5px;
  		position:absolute;
  		left:0;
  		bottom:0;
  		text-align:left;
  	};
	a:hover{
		transform:scale(1.05,1.05);
		transition-duration:1s;
	};
	.one{
		background:url('../img/mac.jpg')center center no-repeat;
		display:block;
	};
	.two{
		background:url('../img/iphone.jpg')center center no-repeat;
		display:block;
	};
	.three{
		background:url('../img/iphone2.jpg')center center no-repeat;
		display:block;
	};
	p{
		color:#004D1C;
		padding-bottom:30px;
	}
};
.smart{
	height:600px;
	background:url('../img/stock.jpg') center center no-repeat;
	background-size:cover;
	text-align:center;
	padding-top:53px;
	h1{
		display:inline-block;
		color:white;
		letter-spacing:1.5px;
		margin-bottom:30px;
	};
	h3{
		color:white;
		padding-bottom:25px;
	};
	li{
		line-height:30px;
	};
};
footer{
	height:100%;
	background:#004D1C;
	color:white;
	.me{
		display:inline-block;
		padding:25px;
		margin:0 auto;
		width:70%;
	};
	.mail{
		display:inline-block;
		text-align:right;
		padding-right:10px;
		width:29%;
	};

};



